pandas>=0.23.3
numpy>=1.14.0
scipy>=1.0.0
pyyaml>=3.12
psycopg2>=2.7.1
ipython>=5.1.0
pyyaml>=3.12
tables>=3.3.0
h5py>=2.7.0
click>=6.7
pytest>=3.6.2
tabulate>=0.7.7
sphinx_fontawesome>=0.0.6
sphinxcontrib-fulltoc>=1.2.0
enforce>=0.3.4